.button#clockIn, .button#confirmClockIn {
    -fx-background-color: #3aab6a;
}

.button#clockOut {
    -fx-background-color: #79FCC5;
}

.button#clockIn:hover, .button#clockOut:hover, .button#logOutButton:hover {
    -fx-background-color: #E8E81A;
}

.button#confirmClockIn:hover {
    -fx-background-color: #152EED;
}

.button#clockIn:pressed {
    -fx-background-color: #DED00D;
}

.button#logOutButton {
    -fx-background-color: #F53838;
}
